.admin-menuicon {
  display: inline-block;
  height: 18px;
  width: 20px;
  background: url("../images/menu.svg");
}
.admin-readericon {
  display: inline-block;
  height: 18px;
  width: 20px;
  background: url("../images/reader.svg");
}
.admin-personicon {
  display: inline-block;
  height: 24px;
  width: 24px;
  background: url("../images/person.svg");
}
.admin-favouritesicon {
  display: inline-block;
  height: 24px;
  width: 24px;
  background: url("../images/favourites.svg");
}
.admin-nonadminicon {
  display: inline-block;
  height: 24px;
  width: 24px;
  background: url("../images/nonadmin.svg");
}
.admin-adminicon {
  display: inline-block;
  height: 24px;
  width: 24px;
  background: url("../images/admin.svg");
}